<div dir="ltr">
  안녕하세요 슬기님 <br />
  <div dir="auto">
    <!--applied-date--> 근무시간을 다음과 같이 변경하고자 합니다
  </div>
  <br />

  <div dir="auto">
    <table
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="
        word-spacing: 1px;
        margin-left: 21pt;
        border-collapse: collapse;
        border-color: rgb(128, 128, 128);
        color: rgb(49, 49, 49);
      "
    >
      <tbody style="border-color: rgb(128, 128, 128)">
        <tr style="border-color: rgb(128, 128, 128)">
          <td
            width="225"
            style="
              width: 134.8pt;
              border: 1pt solid rgb(0, 0, 0);
              padding: 0cm 5.4pt;
              background-color: rgb(251, 228, 213);
            "
          >
            <p
              class="MsoNormal"
              align="center"
              style="text-align: center; border-color: rgb(49, 49, 49)"
            >
              <span style="font-size: 1rem; border-color: rgb(49, 49, 49)"
                >이름<span lang="EN-US" style="border-color: rgb(49, 49, 49)"
                  ><u style="border-color: rgb(49, 49, 49)"></u
                  ><u style="border-color: rgb(49, 49, 49)"></u></span
              ></span>
            </p>
          </td>
          <td
            width="260"
            style="
              width: 155.85pt;
              border-top: 1pt solid rgb(0, 0, 0);
              border-right: 1pt solid rgb(0, 0, 0);
              border-bottom: 1pt solid rgb(0, 0, 0);
              border-left-style: none;
              padding: 0cm 5.4pt;
              background-color: rgb(251, 228, 213);
              border-left-color: rgb(49, 49, 49);
            "
          >
            <p
              class="MsoNormal"
              align="center"
              style="text-align: center; border-color: rgb(49, 49, 49)"
            >
              <span style="font-size: 1rem; border-color: rgb(49, 49, 49)"
                >적용일<span lang="EN-US" style="border-color: rgb(49, 49, 49)"
                  ><u style="border-color: rgb(49, 49, 49)"></u
                  ><u style="border-color: rgb(49, 49, 49)"></u></span
              ></span>
            </p>
          </td>
          <td
            width="260"
            style="
              width: 155.85pt;
              border-top: 1pt solid rgb(0, 0, 0);
              border-right: 1pt solid rgb(0, 0, 0);
              border-bottom: 1pt solid rgb(0, 0, 0);
              border-left-style: none;
              padding: 0cm 5.4pt;
              background-color: rgb(251, 228, 213);
              border-left-color: rgb(49, 49, 49);
            "
          >
            <p
              class="MsoNormal"
              align="center"
              style="text-align: center; border-color: rgb(49, 49, 49)"
            >
              <span style="font-size: 1rem; border-color: rgb(49, 49, 49)"
                >출근시간<span
                  lang="EN-US"
                  style="border-color: rgb(49, 49, 49)"
                  ><u style="border-color: rgb(49, 49, 49)"></u
                  ><u style="border-color: rgb(49, 49, 49)"></u></span
              ></span>
            </p>
          </td>
        </tr>
        <tr style="border-color: rgb(128, 128, 128)">
          <td
            width="225"
            valign="top"
            style="
              width: 134.8pt;
              border-right: 1pt solid rgb(0, 0, 0);
              border-top-style: none;
              border-bottom: 1pt solid rgb(0, 0, 0);
              border-left: 1pt solid rgb(0, 0, 0);
              padding: 0cm 5.4pt;
              border-top-color: rgb(49, 49, 49);
            "
          >
            <p
              class="MsoNormal"
              dir="auto"
              style="border-color: rgb(49, 49, 49)"
            >
              <span
                lang="EN-US"
                style="font-size: 12pt; border-color: rgb(49, 49, 49)"
                ><u style="border-color: rgb(49, 49, 49)"></u>&nbsp;<!--sender-name--><u style="border-color: rgb(49, 49, 49)"></u
              ></span>
            </p>
          </td>
          <td
            width="260"
            valign="top"
            style="
              width: 155.85pt;
              border-style: none solid solid none;
              border-bottom-width: 1pt;
              border-right-width: 1pt;
              padding: 0cm 5.4pt;
              border-color: rgb(49, 49, 49) rgb(0, 0, 0) rgb(0, 0, 0)
                rgb(49, 49, 49);
            "
          >
            <p
              class="MsoNormal"
              dir="auto"
              style="border-color: rgb(49, 49, 49)"
            >
              <span
                lang="EN-US"
                style="font-size: 12pt; border-color: rgb(49, 49, 49)"
                ><u style="border-color: rgb(49, 49, 49)"></u>&nbsp;<!--applied-date--><u style="border-color: rgb(49, 49, 49)"></u></span>
            </p>
          </td>
          <td
            width="260"
            valign="top"
            style="
              width: 155.85pt;
              border-style: none solid solid none;
              border-bottom-width: 1pt;
              border-right-width: 1pt;
              padding: 0cm 5.4pt;
              border-color: rgb(49, 49, 49) rgb(0, 0, 0) rgb(0, 0, 0)
                rgb(49, 49, 49);
            "
          >
            <p
              class="MsoNormal"
              dir="auto"
              style="border-color: rgb(49, 49, 49)"
            >
              <span
                lang="EN-US"
                style="font-size: 12pt; border-color: rgb(49, 49, 49)"
                ><u style="border-color: rgb(49, 49, 49)"></u>&nbsp;<!--begin-time-->
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <br />
  </div>
  <div dir="auto">감사합니다</div>
</div>
